.footer {
    position: absolute;
    width: 189px;
    height: 39.55px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #f0f0f0; 
    padding: 20px; 
}
.footer-logo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
}

.footer-text {
    position: absolute;
    width: 189px;
    height: 13.76px;
    left: 0%;
    right: 0.53%;
    top: 54.1%;
    bottom: 19.67%;
}
.footer-email{
    position: absolute;
width: 126px;
height: 16.34px;
left: 113px;
right: -84px;
top: 131.48px;
bottom: -130.63px;
}