.remonte {
  background: rgb(245, 245, 245);
  width: 1140px;
  height: 393px;
}

.remonte_text {
  text-align: center;
  color: rgb(61, 61, 61);
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0%;
  padding: 20px 0;
  font-weight: 700;
}
.remonte_imges {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  padding: 0 120px;
}

.texts {
  display: flex;
  gap: 180px;
  padding: 10px 100px;
}

.text {
  color: rgb(61, 61, 61);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 200px;
  height: 48px;
}

.card {
  padding: 40px 0;
}
.card_text {
  color: rgb(61, 61, 61);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.card_title {
  color: rgb(61, 61, 61);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  padding: 7px 0;
}

.phone {
  display: flex;
  gap: 150px;
  padding: 20px 60px;
}

.phone_img {
  background-image: url(../Ellipse\ 2.svg);
  width: 148px;
  height: 148px;
}

.phone_text {
  display: flex;
  gap: 65px;
  text-align: center;
}

.text_title {
  color: rgb(61, 61, 61);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40px 0;
}

.button1 {
  background-color: transparent;
  border: 2px solid rgb(39, 172, 226);
  color: rgb(39, 172, 226);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 214px;
  height: 40px;
}

.button1:hover {
  background: rgb(39, 172, 226);
  cursor: pointer;
  color: white;
}

.button2 {
  background-color: transparent;
  color: rgb(39, 172, 226);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid rgb(39, 172, 226);
  border-radius: 4px;
  width: 214px;
  height: 40px;
}
.button2:hover {
  background: rgb(39, 172, 226);
  cursor: pointer;
  color: white;
}

span {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

.navbar {
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(130, 130, 130);
}

.link {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link_title {
  color: rgb(61, 61, 61);
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}

.image {
  border-radius: 10px;
  padding: 30px 7px;
}

.navbar_text {
  display: flex;
  gap: 10px;
}

.navbar_text-title {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_button{
  display: flex;
  justify-content: center;
  padding: 40px 0;
  
}
.navbar_btn {
  background: rgb(0, 96, 170);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  border-radius: 4px;
  width: 177px;
  height: 40px;
  text-align: center;
}
