.remonte {
  background: rgb(245, 245, 245);
  width: 1140px;
  height: 393px;
}

.remonte_text {
  text-align: center;
  color: rgb(61, 61, 61);
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0%;
  padding: 20px 0;
  font-weight: 700;
}
.remonte_imges {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  padding: 0 120px;
}

.texts {
  display: flex;
  gap: 180px;
  padding: 10px 100px;
}

.text {
  color: rgb(61, 61, 61);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 200px;
  height: 48px;
}

.card {
  padding: 40px 0;
}
.card_text {
  color: rgb(61, 61, 61);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.card_title {
  color: rgb(61, 61, 61);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  padding: 7px 0;
}

.phone {
  display: flex;
  gap: 150px;
  padding: 20px 60px;
}

.phone_img {
  background-image: url(../Ellipse\ 2.svg);
  width: 148px;
  height: 148px;
}

.phone_text {
  display: flex;
  gap: 65px;
  text-align: center;
}

.text_title {
  color: rgb(61, 61, 61);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40px 0;
}

.button1 {
  background-color: transparent;
  border: 2px solid rgb(39, 172, 226);
  color: rgb(39, 172, 226);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 214px;
  height: 40px;
}

.button1:hover {
  background: rgb(39, 172, 226);
  cursor: pointer;
  color: white;
}

.button2 {
  background-color: transparent;
  color: rgb(39, 172, 226);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid rgb(39, 172, 226);
  border-radius: 4px;
  width: 214px;
  height: 40px;
}
.button2:hover {
  background: rgb(39, 172, 226);
  cursor: pointer;
  color: white;
}

span {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

.navbar {
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(130, 130, 130);
}

.link {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link_title {
  color: rgb(61, 61, 61);
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}

.image {
  border-radius: 10px;
  padding: 30px 7px;
}

.navbar_text {
  display: flex;
  gap: 10px;
}

.navbar_text-title {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_button{
  display: flex;
  justify-content: center;
  padding: 40px 0;
  
}
.navbar_btn {
  background: rgb(0, 96, 170);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  border-radius: 4px;
  width: 177px;
  height: 40px;
  text-align: center;
}



/* location style */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.Location{
  width: 1300px;
  height: 600px;
  background-color: #ffffff;
  
}
.location_top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 15%;
  
}
.location_top h2{
  width: 199px;
height: 38px;
top: 2041px;
left: 541px;
gap: 0px;
opacity: 0px;
color: #3D3D3D;

font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 38px;
}

.location_center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 75%;
  
}
.location_center img{
  width: 100%;
  height: 100%;
}
.map_res{
  display: none;
}
.location_bottom{
  display: flex;
 
  width: 1300px;
  height: 15%;
  flex-direction: column;
}
.location_bottom p{
  width: 1110px;
  height: 60px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 16.41px;
  font-family: Roboto;
  line-height: 16.41px;
  margin-top: -20px;

}
.location_bottom a{
  text-align: left;
  margin-left: 90px;
  color: #0060AA;
}


@media screen and (max-width: 768px) {
  .container{
      width: 700px;
      height: 1400px;
      background-color: white;
  }
  .Aksiya-box{
      width: 700px;
      height: 700px;
      background-color: #F5F5F5;
  }
  .Aksiya-box-top{
      width: 700px;
      height: 20%;
      /* display: flex;
      justify-content: center;
      align-items: center; */
      position: relative;
  }

  .aksiya_text{
color: rgb(61, 61, 61);
font-family: Roboto;
font-size: 25px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;

  }

  .Novosti_text{
      color: #545353;
font-family: Roboto;
font-size: 25px;
font-weight: 700;
line-height: 26px;

  }

  .Aksiya-box_line{
      position: absolute;
      width: 700px;
  height: 1px;
  border: 1px 0px 0px 0px;
  opacity: 0.8px;
  border: 1px solid #D4E4EF
  }
  .Aksiya-box-center{
      width: 700px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .Aksiya-box-center-left{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .Aksiya-box-center-left img{
      width: 85%;
      height: 85%;
  }
  .Aksiya-box-center-left p{
      width: 400px;
  height: 37px;
  font-family: Roboto;
  font-size: 26px;
  line-height: 25.44px;
  text-align: left;
  margin-top: 10px;
  margin-left: 45px;
  
  }
  .Aksiya-box-center-center{   
      display: none;
  }
  .Aksiya-box-center-right {
      display: none;
  }
  .Aksiya-box-bottom{
      width: 700px;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .Aksiya-box-bottom_button{
      width: 217px;
  height: 50px;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;
  background-color:#2493e9;
  color: white;
  border: none;
  font-family: Roboto;
  font-size: 18px;
  line-height: 16.41px;
  cursor: pointer;
  /* margin-top: -40px; */
  }
  .Location{
      width: 700px;
      height: 950px;
      background-color: #ffffff;
      margin-top: 40px;
  }
  .location_top{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 630px;
      height: 15%;
      
      
  }
  .location_top h2{
      width: 199px;
  height: 38px;
  opacity: 0px;
  color: #3D3D3D;
  
  font-family: Roboto;
  font-size: 30px;
  font-weight: 900;
  line-height: 38px;
  }
  .location_center{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 80%;
      
  }
  .map_res{
      width: 100%;
      height: 100%;
      display: block;
  }
  .map{
      display: none;
  }
  .location_bottom{
      width: 700px;
      height: 5%;
      flex-direction: column;
      
  }
  .location_bottom p{
      width: 700px;
      height: 0px;
      font-family: Roboto;
  font-size: 25px;
  line-height: 30.41px;
  font-family: Roboto;
  margin-top: -130px;
  margin-left: 50px;
  
  
  }
  .location_bottom a{
      margin-left: 50px;
      color: #0060AA;
      margin-top: 150px;
      font-size: 30px;
  }
}


/* ----- */