@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

a, ul {
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  border-top: 1px solid rgb(212, 228, 239);
}
footer .logo-box {
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  cursor: pointer;
}
footer .logo-box p {
  position: absolute;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  height: 16px;
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
footer .location-box {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 15px;
  gap: 15px;
}
footer .location-box .email {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
footer .location-box .map {
  color: rgb(0, 37, 74);
  opacity: 0.7;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
footer .numbers-box {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  flex-wrap: wrap;
}
footer .numbers-box .numbers {
  display: flex;
  flex-direction: column;
}
footer .numbers-box .numbers a {
  text-decoration: none;
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: 0.2s;
}
footer .numbers-box .numbers a:hover {
  color: rgb(57, 153, 229);
  text-decoration-line: underline;
}
footer .numbers-box .numbers .text {
  padding: 3px;
  color: rgb(57, 153, 229);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(212, 228, 239);
  padding: 20px 0;
}
footer .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .box .links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .box span {
  color: rgb(55, 69, 97);
  opacity: 0.4;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
footer .footer-link {
  /* Text */
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
footer .footer-link:hover {
  /* Text */
  color: rgb(39, 172, 226);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
footer .end {
  padding-top: 18px;
  padding-bottom: 77px;
}
footer .end span {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}
footer .button-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}
footer .button-box button {
  width: 214px;
  height: 40px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid rgb(39, 172, 226);
  border-radius: 4px;
  color: rgb(39, 172, 226);
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}
footer .button-box button:hover {
  color: white;
  background: rgb(39, 172, 226);
}
footer .left {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
footer .left .add {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
}
footer .icons-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
  border-bottom: 1px solid rgb(212, 228, 239);
}
footer .gp {
  display: flex;
  gap: 20px;
}
footer .email {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
footer .by {
  margin: 10px 0;
  color: rgb(0, 37, 74);
  font-family: Roboto Slab;
  font-size: 12px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
}

nav .nav-top {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgb(212, 228, 239);
}
nav .nav-list {
  display: flex;
  justify-content: space-between;
  width: 504px;
  padding-left: 0;
}
nav .nav-link {
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
nav .nav-link:hover {
  color: rgb(39, 172, 226);
}
nav .nav-middle {
  display: flex;
  justify-content: space-between;
}
nav .nav-middle .toggle-box {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  justify-content: space-between;
  gap: 54px;
  flex-wrap: wrap-reverse;
}
nav .nav-middle .toggle-box button {
  background-color: transparent;
  color: rgb(51, 51, 51);
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  padding: 5px;
}
nav .nav-middle .toggle-box button:hover {
  background: rgba(39, 173, 226, 0.295);
}
nav .logo-box {
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  cursor: pointer;
}
nav .logo-box img {
  max-width: 190px;
}
nav .logo-box p {
  position: absolute;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  height: 16px;
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
nav .numbers-box {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  flex-wrap: wrap;
}
nav .numbers-box .numbers {
  display: flex;
  flex-direction: column;
}
nav .numbers-box .numbers a {
  text-decoration: none;
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: 0.2s;
}
nav .numbers-box .numbers a:hover {
  color: rgb(57, 153, 229);
  text-decoration-line: underline;
}
nav .numbers-box .numbers .text {
  padding: 3px;
  color: rgb(57, 153, 229);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
nav .group {
  position: absolute;
  margin-top: 15px;
  padding-top: 25px;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: top 2s ease-in-out;
}
nav .group button {
  background: transparent;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
}
nav .group .box {
  border: 2px solid green;
}
nav .group .box .text-box {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 0 15px;
  gap: 15px;
  border-bottom: 2px solid rgba(212, 228, 239, 0.6);
  text-align: center;
  color: rgb(61, 61, 61);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  width: 100%;
  height: 64px;
}
nav .group .box .text-box svg {
  border: 2px solid blue;
}
nav .df {
  display: flex;
}

.bottom {
  border-bottom: 4px solid rgb(39, 172, 226);
}/*# sourceMappingURL=home.css.map */